/userInput/build/
/userInput/nbproject/
/userInput/test
*.xml
*.mf
/if_else/build/
/if_else/nbproject/
/if_else/test
/switchStatement/build/
/switchStatement/nbproject/
/switchStatement/test
/whileLoop/build/
/whileLoop/nbproject/
/whileLoop/teswhileLoop
