*.xml
*.mf
/userInput/build/
/userInput/nbproject/
/userInput/test
/userInput/*.xml
/userInput/*.mf
/if_else/build/
/if_else/nbproject/
/if_else/test
/if_else/*.xml
/if_else/*.mf
/switchStatement/build/
/switchStatement/nbproject/
/switchStatement/test
/switchStatement/*.xml
/switchStatement/*.mf
/whileLoop/build/
/whileLoop/nbproject/
/whileLoop/test
/userInput/*.xml
/userInput/*.mf
/forLoop/build/
/forLoop/nbproject/
/forLoop/test
/forLoop/*.xml
/forLoop/*.mf
/arrays/build/
/arrays/nbproject/
/arrays/test
/arrays/*.xml
/arrays/*.mf
/stringMethods/build/
/stringMethods/nbproject/
/stringMethods/test
/stringMethods/*.xml
/stringMethods/*.mf
/swapValues/build/
/swapValues/nbproject/
/swapValues/test
/swapValues/*.xml
/swapValues/*.mf
/arrayLists/build/
/arrayLists/nbproject/
/arrayLists/test
/arrayLists/*.xml
/arrayLists/*.mf
/wrapperClass/build/
/wrapperClass/nbproject/
/wrapperClass/test
/wrapperClass/*.xml
/wrapperClass/*.mf
/arrayLists(_2D/build/
/arrayLists(_2D/nbproject/
/arrayLists(_2D/test
/arrayLists(_2D/*.xml
/arrayLists(_2D/*.mf

